@model RegexpTextConverterSite.Model.RegexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Simple Regex converter</title>
</head>
<body>
<div>
    <input type="text" value="@Model.Pattern"/>  
</div>
</body>
</html>